<ion-view id="about">
    <ion-content overflow-scroll="true" padding="false" scroll="false">
        <div class="row row-no-padding">
            <div class="col col-33">
                <div class="row row-no-padding">
                    <button ui-sref="index" class="button button-clear button-assertive">
                        <i class="ion ion-home"></i>&nbsp;&nbsp;HOME
                    </button>
                </div>
                <div class="row row-no-padding">
                    <img src="img/aksyonvawlogo.png" id="logo" />
                </div>
            </div>
            <div class="col col-67">
                
            </div>
        </div>
    </ion-content>
</ion-view>