<ion-view id="category">
    <ion-content overflow-scroll="false" padding="false" scroll="false">
        <div class="row row-no-padding responsive-sm">
            <div class="col col-67 center">
                <img src="img/aksyonvawlogo.png" id="logo" />
            </div>
            <div class="col col-33">
                <button ui-sref="identityTheft" class="button button-clear button-full button-assertive">
                    Identity Theft
                </button>

                <button ui-sref="about" class="button button-clear button-full button-assertive">
                    Cyber Bullying
                </button>
                
                <button ui-sref="about" class="button button-clear button-full button-assertive">
                    Online Harassment
                </button>

                <button ui-sref="index" class="button button-clear button-full button-assertive">
                    <i class="ion ion-home"></i>&nbsp;&nbsp;Home
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>