#it {
	height: 100vh;
	background-color: blue;
	color: white;
}

#it > ion-content {
	height: 100%;
	width: 100%;
}

#it #textContainer {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 40%;
	padding: 10px;
	overflow-y: auto;
}

#it .btnNext,
#it .btnSkip,
#it .btnExit {
	position: fixed;
	padding: 0;
	bottom: 20px;
	right: 20px;
	width: 20%;
	height: 10%;
	max-width: 200px;
	max-height: 50px;
	display: none;
}